#custom-button {
    padding: 10px;
    color: white;
    background-color: #f46524;
    border: 0px solid #000;
    border-radius: 30px;
    cursor: pointer;
    }
#custom-button:hover {
    background-color: #ffae88;
    }

#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    } 